//===========================================
// -Helper Classes start
//===========================================

.flex-d{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.clearfix{
	&:after {
		content: " "; 
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	 }
}

.footer-div-alignments {
	line-height : 28px;
	margin: 0px;
	width: (100% / 3);
	min-width: 300px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	font-size: rem(16);
	padding: 10px 20px;
}
.text-center{
	text-align: center;
}

//===========================================
// -Helper Classes end
//===========================================
	