//===========================================
	// -Sub Pages start
//===========================================

// Posts Page Styling
div.tab-content{
	display: none;
	justify-content: space-around;
	flex-wrap: wrap;
}
.tabs{
	margin: 0 18px;
	margin-bottom: 30px;
	text-align: center;
}

.tab-links{
	background-color: transparent;
	font-weight: 400;
	border-bottom: 2px solid transparent;
	margin: 0 16px;
}

.active{
	background-color: $white;
	color: $primery-color;
	border-bottom: 2px solid $primery-color;
	
}


// Posts Page Styling
//===========================================
	// -Sub Pages end
//===========================================
