//===========================================
	// -Sub Pages start
//===========================================

// Posts Page Styling
div.tab-content{
	display: none;
	justify-content: space-around;
	flex-wrap: wrap;
}
.tabs{
	margin: 0 18px;
	margin-bottom: 30px;
	text-align: center;
}

.tab-links{
	background-color: transparent;
	font-weight: 400;
	border-bottom: 2px solid transparent;
	margin: 0 16px;

	@include mq('sm', max){
		font-size: rem(14);
		margin: 0 8px;
	}
}

.active{
	background-color: $white;
	color: $primery-color;
	border-bottom: 2px solid $primery-color;

}
// Posts Page Styling

// Privacy Policy Styling 
.privacy {
	padding: 100px 30px;
	.privacy-img1 {
		margin: 0 auto;
		text-align: center;
		height: 300px;
		background-image: url("../images/privacy.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.privacy-img2 {
		margin: 0 auto;
		text-align: center;
		height: 300px;
		background-image: url("../images/privacy2.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	p, ul {
		font-size: rem(22);
		color: gray;
		font-style: italic;
	}
}
// Privacy Policy Styling

// Single Post Page Styling
.single-post-container{
	margin: 150px 0px;
	.single-post{
		width: 100%;
		max-width: 100%;
		border: none;
		box-shadow: none;
		// -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
		// box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
		margin: 16px 0px;
		.card-body {

			.post-title {
				font-size: rem(45);
				text-transform: uppercase;
				margin-bottom: 10px;
				font-weight: 600;
				text-align: center;
				color: #323232;
				font-family: $font-primery;
			}

			.location{
				display: block;
				text-align: center;
				font-size: rem(16);
			}
			.further-detail{
				margin: 50px 0;
				align-items: flex-end!important;
				justify-content: flex-start!important;
				flex-wrap: wrap!important;
				width: 100%;

				@include mq('lg', max){
					justify-content: center !important;
				}
				.post-details {
					margin: 10px 5px;
					padding: 0px 30px;
					font-size: rem(30)!important;
					min-width: 200px!important;
					text-align: center;
		
						p {
							color: gray;
							font-size: rem(20);
							line-height: 50px;

							i{
								font-size: rem(40);
								color: $primery-color;
							}
		
							span{
								font-size: rem(40);
								color: $primery-color;
								font-weight: 700;
							}
						}
					}
			}

			

			.booknow {
				display: block;
				padding: 10px 20px;
				background-color: $primery-color;
				color: $white;
				font-size: rem(30);
				font-weight: 600;
				transition: 400ms;
				border: none;
				margin: 0 auto;
				// @include mq('md', max){

				// }
			}
		}
	}
	
}



// Single Post Page Styling
//===========================================
	// -Sub Pages end
//===========================================
